.child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: black;
}
.app {
  background-color: whitesmoke;
}
i {
  cursor: pointer;
}
#cart-count {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  border-radius: 9px;
}
